
body{
	font-family: roboto;
}

h1{
	font-size: 60px;
	font-family: rubik;
	max-width:30%;

}

.subtext{
	font-family: arial;
}

.form{
	align-items: stretch;
	background-color: lightgray;
	display: flex;
	flex-direction: column;

	max-width: 500px;
	min-width: 400px;
	padding: 1rem;
	position: absolute;
	right: .5rem;
	width: 40%;
	height: 18rem;
	
}



input[type=submit] {
background: limegreen;
color: white;
border: none;
font-family: Roboto;
font-size: 14px
margin: 2rem 0;
height: 2rem;
min-width: 31rem;
text-transform: uppercase;
}



Header{
	display: flex;
	font-family: Sansita;
	justify-content: center;
	position: relative;

}


section{
	display: flex;
	font-family: rubik;
	transform: translateY(25rem);
	
}

.marketing:hover{

transform: translateY(-5rem);
transition: all 1s ease;
}

.sites:hover{

transform: translateY(-5rem);
transition: all 1s ease;
}


.protection:hover{

transform: translateY(-5rem);
transition: all 1s ease;
}


.capital:hover{

transform: translateY(-5rem);
transition: all 1s ease;
}

input, label {
    display: block;
    height: 2rem;
    min-width: 31rem;

}



.marketing{
	
	align-items: center;
	background-color: coral;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	justify-content: center;
	padding: 1rem;
	width: 35%;
}
.sites{
	align-items: center;
	background-color: plum;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	justify-content: center;
	padding: 1rem;
	width: 35%;
}

.protection{
	
	align-items: center;
	background-color: orange;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	justify-content: center;
	padding: 1rem;
	width: 35%;
}
.capital{
	
	align-items: center;
	background-color: steelblue;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	justify-content: center;
	padding: 1rem;
	width: 35%;
}
h2, h3, h4, h5{
	
	position: relative;
	top: 1rem;
	font-size: 1rem;
}


footer{

	color:cornflowerblue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	transform: translateY(25rem);
	
}
